{% extends "about.html" %}
{% block content %}
    <h1>Award</h1>
      <body>
        <div class="card">
            <img src="{{ url_for('static', filename='about_pics/award_seoul.jpg')}}" style="width:100%" align="left>
        </div>
        <div class="container">
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='about_pics/award_hanyang.jpg')}}" style="width:100%" align="left>
        </div>
        <div class="container">
        </div>
      </boby>
{% endblock content %}