{% extends "about.html" %}
{% block content %}
    <h1>Education</h1>
      <body>
        <div class="row">
            <div class="column">
              <div class="card">
                <br><img src="about_pics/THE_CYBER_UNIVERCITY_OF_KOREA_CurrentEnrollment_KIMJUNKUK-0001.jpg'" style="width:100%" align="left">
                <div class="container">
                  <br><h2>Software Engineering major</h2>
                  <p class="title">Information Technology Technician</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>[ Email ] ehehwnwjs5052@gmail.com</p>
                              <a href="https://github.com/Kimjunkuk">[ Github ] https://github.com/Kimjunkuk</a>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          </div>
      </boby>
        <div class="row">
            <div class="column">
              <div class="card">
                <br><img src="about_pics/BU_UniversityDiploma(En).jpg'" style="width:100%" align="left">
                <div class="container">
                  <br><h2>KIM JUNKUK-(Mason Kim)</h2>
                  <p class="title">Information Technology Technician</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>[ Email ] ehehwnwjs5052@gmail.com</p>
                              <a href="https://github.com/Kimjunkuk">[ Github ] https://github.com/Kimjunkuk</a>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          </div>
      </boby>
{% endblock content %}