{% extends "about.html" %}
{% block content %}
<h1>Experience</h1>
<body>
    <div class="row">
        <div class="column">
            <div class="card">
                <br><h2>Certificate of Employment</h2>
                <br><img src="{{ url_for('static', filename='about_pics/Document-page-001.jpg')}}" style="width:100%" align="left">
                <br><img src="{{ url_for('static', filename='about_pics/Document-page-002.jpg')}}" style="width:100%" align="left">
                <br><img src="{{ url_for('static', filename='about_pics/Document-page-003.jpg')}}" style="width:100%" align="left">
                <div class="container">
                    <br><h2>Work Experience</h2>
                    <p class="title">SM Beauty IT Admin</p>
                    <p>01/20/2020-01/19/2021</p>
                    <p>The list Managed web-sites</p>
                    <a href="https://smbeautyusa.com/">[ Web Site (En) ] https://smbeautyusa.com/</a>
                    <br><a href="https://www.sistarcosmetics.com/">[ Web Site (En) ] https://www.sistarcosmetics.com/</a>
                    <br><a href="https://saplayaskincare.com/">[ Web Site (En) ] https://saplayaskincare.com/</a>
                    <br><a href="https://www.erpsmbeauty.com/v2/index.php">[ Web Site (En) ] https://www.erpsmbeauty.com/v2/index.php</a>
                    <br><a href="https://www.erpsmbeauty.com/biotech/index.php">[ Web Site (En) ] https://www.erpsmbeauty.com/biotech/index.php</a>
                </div>
            </div>
        </div>
    </div>
    <br><div class="row">
      <div class="column">
        <div class="card">
            <br><h2>Cerification of Coverage History</h2>
            <br><img src="{{ url_for('static', filename='about_pics/certificate of work history_kimjunkuk1.png')}}" style="width:100%" align="left">
            <br><img src="{{ url_for('static', filename='about_pics/certificate of work history junkuk kim2.PNG')}}" style="width:100%" align="left">
            <div class="container">
                <br><h2>Work Experience</h2>
                <p class="title">Jeil E&S, Division of Mechanical Design and Technical Skills</p>
                <p>December, 2017-Agust 2019</p>
                <p>Designed chemical tanks for SK HYNIX.</p>
                <p>Designed pipe design and estimated product costs for plumbing.</p>
                <p>Supervised and managed fileld construction.</p>
                <a href="http://www.jeilens.co.kr/english">[ Web Site (En) ] http://www.jeilens.co.kr/english</a>
                <br><br><p class="title">Daeyeong ONE, Vehicle Component Development Team</p>
                <p>December, 2016-Agust 2017</p>
                <p>Developed and reviewed injection mold, and estimated production costs.</p>
                <p>Developed mold design and estimated cost of product.</p>
                <p>Modified final product design.</p>
                <a href="http://www.daeyoungone.com/en">[ Web Site (En) ] http://www.daeyoungone.com/en</a>
            </div>
        </div>
      </div>
    </div>
    <br><div class="row">
        <div class="column">
            <div class="card">
                <br><img src="{{ url_for('static', filename='about_pics/certificate of work history_JeilE&S_kimjunkuk.PNG')}}" style="width:100%" align="left">
                <div class="container">
                    <br><h2>Incumbent Certificate</h2>
                    <a href="http://www.jeilens.co.kr/english">[ Web Site (En) ] http://www.jeilens.co.kr/english</a>
                </div>
            </div>
        </div>
    </div>
</boby>

{% endblock content %}